*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: yellow;
}
#container{
    width: 950px;
    margin: auto;
}
h2{
    font-size: larger;
    color: white;
    text-align: center;
    background-color:rgb(9, 135, 245);
    border: 20px;  
}
.hero {
    width: 100%;
}
.hero img{
    width: 100%;
    vertical-align: bottom;
}
nav ul{
    background-color: white;
    border-bottom: 2px dashed;
    color: white;
    padding: 30px;
    background-color: rgb(9, 135, 245);
    text-align: center;
}
nav ul li{
    list-style-type: none;
    display: inline;
    color: white;
    text-decoration: none;
    padding: 0 15px;
}
.flex{
    display: flex;
    padding: 70px 20px 0 20px;
    background-color: white;
}
article{
    color: black;
    font-size: larger;
    font-weight: bold;
    text-align: justify;
}
h1{
    color: orange;
    font-weight: bolder;
}
.movie img{
    display: inline;
    width: 200px;
    margin: 0;
    padding: 0;
    
}
.mat img{
    width: 200px;
    padding: 20px; 
}
.mat{
    width: 250px;
    padding: 30px;
    margin: 20px;
    background-color:rgb(9, 135, 245) ;
    margin-bottom: 20px;

}
h3{
    color: white;
    font-size: larger;
    font: 900;
    text-align: center;
}
h4{
    text-align: center;
    font-size: small;
}
figcaption{
   color: white;
   background-color: rgb(9, 135, 245) ;
   font-weight: 900;
   height: 350px;
   width: 100%;
   font-size: larger;
   text-align: justify;
}
footer{
   color: white;
   border: 15px;
   background-color: blue;
   text-align: center;
}




